@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 249, 240);
}

img {
  border-radius: 10px;
  border: 2px solid white;
}
.logo {
  border: 2px solid black;
}

html {
  scroll-behavior: smooth;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #b38cff;
}